{erl_opts, [debug_info, {parse_transform, lager_transform},{lager_extra_sinks, [mylog]}]}.
{deps, [{riak_core, "3.0.9", {pkg, riak_core_ng}},
        {lager, "3.5.1"}]}.

{relx, [{release, {rc_example, "0.1.0"},
         [rc_example]},
        {dev_mode, true},
        {include_erts, false},
        {extended_start_script, false},
        {sys_config, "conf/sys.config"},
        {vm_args, "conf/vm.args"},
        {overlay, [{template, "conf/sys.config", "releases/{{default_release_version}}/sys.config"},
                   {template, "conf/vm.args", "releases/{{default_release_version}}/vm.args"}]}
       ]}.

%% override dependencies to remove warnings_as_errors that cause compile errors in erlang 20
{overrides, [{override, riak_ensemble,
              [{erl_opts, [debug_info,
                           warn_untyped_record,
                           {parse_transform, lager_transform}]}]},

             {override, riak_core,
              [{erl_opts, [{parse_transform, lager_transform},
                           debug_info, {platform_define, "^[0-9]+", namespaced_types},
                           {platform_define, "18", old_rand},
                           {platform_define, "17", old_rand},
                           {platform_define, "^R15", old_hash}]}]},

             {override, poolboy,
              [{erl_opts, [debug_info,
                           {platform_define, "^[0-9]+", namespaced_types}]}]}]}.

{profiles, [{dev1, [{relx, [{overlay_vars, "conf/vars_dev1.config"}]}]},
            {dev2, [{relx, [{overlay_vars, "conf/vars_dev2.config"}]}]},
            {dev3, [{relx, [{overlay_vars, "conf/vars_dev3.config"}]}]},
            {dev4, [{relx, [{overlay_vars, "conf/vars_dev4.config"}]}]}]}.
