{erl_opts, [debug_info, {parse_transform, lager_transform}]}.
{deps, [{riak_core, "3.1.0", {pkg, riak_core_ng}},
        {lager, "3.5.1"}]}.

{relx, [{release, {rc_example, "0.1.0"},
         [rc_example]},
        {dev_mode, true},
        {include_erts, false},
        {extended_start_script, false},
        {sys_config, "conf/sys.config"},
        {vm_args, "conf/vm.args"},
        {overlay, [{template, "conf/sys.config", "releases/{{default_release_version}}/sys.config"},
                   {template, "conf/vm.args", "releases/{{default_release_version}}/vm.args"}]}
       ]}.

{profiles, [{dev1, [{relx, [{overlay_vars, "conf/vars_dev1.config"}]}]},
            {dev2, [{relx, [{overlay_vars, "conf/vars_dev2.config"}]}]},
            {dev3, [{relx, [{overlay_vars, "conf/vars_dev3.config"}]}]},
            {dev4, [{relx, [{overlay_vars, "conf/vars_dev4.config"}]}]}]}.
