{erl_opts, [debug_info]}.
{deps, [{riak_core, {git, "https://github.com/basho/riak_core", {ref, "f15acd3a87150431277eb754792ec24a0dc81d75"}}}]}.

{shell, [
  % {config, "config/sys.config"},
    {apps, [rc_example]}
]}.
{relx, [{release, {rc_example, "0.1.0"}, [rc_example]},
        {dev_mode, true},
        {include_erts, false},
        {sys_config, "conf/sys.config"},
        {vm_args, "conf/vm.args"},
        {extended_start_script, false},
        {overlay, [{template, "conf/sys.config", "releases/{{release_version}}/sys.config"},
            {template, "conf/vm.args", "releases/{{release_version}}/vm.args"}]}]}.

{profiles, [{dev1, [{relx, [{overlay_vars, "conf/vars_dev1.config"}]}]},
            {dev2, [{relx, [{overlay_vars, "conf/vars_dev2.config"}]}]},
            {dev3, [{relx, [{overlay_vars, "conf/vars_dev3.config"}]}]}]}.
