[{lager, [
          {handlers, [
                      {lager_console_backend, [{level, debug}]},
                                              {lager_file_backend, [{file, "log/error.log"}, {level, error}]},
                                              {lager_file_backend, [{file, "log/console.log"}, {level, info}]}]}
                                              ]}].
